
.jp-custom-paypal-button._with-logo .wp-block-button__link ,
.jp-custom-paypal-button.wp-block-button__link._with-logo
{

	background-image: url('paypal.png');
	background-repeat: no-repeat;
	background-position: calc( 100% - .9em) center;
	background-size: auto 32px;
	padding-right: calc(90px + .9em );
}

.wp-block-jp-paypal-pay-now-button {
	&.alignleft {
		margin-right: .8em;
	}
	&.alignright {
		margin-left: .8em;
	}
	&.aligncenter {
		margin: .7em;
	}
}